body {
  background: linear-gradient(to bottom, #1d45b3 0%, #761a63 75%, #e6612c 100%);
  margin: 0;
  overflow: hidden !important;
}

canvas {
  cursor: crosshair;
  display: block;
}

.text {
  color: white;
  position: absolute;
  top: 25%;
  text-align: center;
  display: block;
  width: 100%;
  font-family: "Montserrat", Sans-Serif;
  font-size: 1.5rem;
}

#textt {
  color: rgba(243, 150, 10, 0.678);
}

.item blockquote {
  border-left: none;
  margin: 0;
}

.gasy-content {
  width: 100% !important;
  height: 100% !important;
  overflow-y: hidden;
  overflow-x: hidden !important;
}

.github-link {
  color: white;
  right: 10px;
  position: absolute;
  top: 10px;
}

.github-link:hover {
  color: rgb(28, 164, 174);
}

.github-link > i {
  font-size: 2.333333em !important;
}

.mountains {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  min-width: 100%;
  height: 60px;
  fill: #080826;
}

.mountains--layer1 {
  z-index: 2;
}

.mountains--layer2 {
  fill: #6f2b5d;
  z-index: 0;
}
/**/
#container {
  position: absolute;
  margin: auto;
  width: 100vw;
  height: 80pt;
  top: 0;
  bottom: 0;

  filter: url(#threshold) blur(0.6px);
}

#text1,
#text2 {
  position: absolute;
  width: 100%;
  display: inline-block;

  font-family: "Raleway", sans-serif;
  font-size: 80pt;

  text-align: center;

  user-select: none;
}
/* relevant portion */

.text .img a {
  color: white;
  position: absolute;
  top: 160%;
}
.text .msg a {
  color: white;
  position: absolute;
  top: 178%;
}
.text p {
  font-size: 16px;
}
